<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ProfJB_Eyes-Left.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1956},{148,80}}</string>
			<key>offset</key>
			<string>{8,398}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{958,464},{148,80}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Eyes-Mad.png</key>
		<dict>
			<key>frame</key>
			<string>{{1879,1902},{140,89}}</string>
			<key>offset</key>
			<string>{3,407}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{957,451},{140,89}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Eyes-Neutral.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1956},{148,80}}</string>
			<key>offset</key>
			<string>{8,398}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{958,464},{148,80}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Eyes-Right.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,1932},{148,80}}</string>
			<key>offset</key>
			<string>{8,398}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{958,464},{148,80}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Eyes-Shut.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,1932},{148,80}}</string>
			<key>offset</key>
			<string>{8,398}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{958,464},{148,80}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Eyes-Skeptical.png</key>
		<dict>
			<key>frame</key>
			<string>{{1198,1932},{125,99}}</string>
			<key>offset</key>
			<string>{5,412}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{967,441},{125,99}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Head.png</key>
		<dict>
			<key>frame</key>
			<string>{{1746,1449},{260,449}}</string>
			<key>offset</key>
			<string>{3,330}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{897,348},{260,449}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_LeftArm-Apple.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,2},{489,539}}</string>
			<key>offset</key>
			<string>{-109,-104}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{670,737},{489,539}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_LeftArm-Chin-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1294,1449},{448,474}}</string>
			<key>offset</key>
			<string>{-79,59}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{721,606},{448,474}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_LeftArm-Chin-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1624,2},{411,496}}</string>
			<key>offset</key>
			<string>{-97,70}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{721,584},{411,496}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Mouth-Aah.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1912},{120,161}}</string>
			<key>offset</key>
			<string>{3,235}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{967,587},{120,161}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Mouth-Angry.png</key>
		<dict>
			<key>frame</key>
			<string>{{1746,1902},{129,142}}</string>
			<key>offset</key>
			<string>{-1,252}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{958,579},{129,142}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Mouth-Ooh.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,1733},{120,155}}</string>
			<key>offset</key>
			<string>{3,238}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{967,587},{120,155}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Mouth-Smile.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,1274},{156,160}}</string>
			<key>offset</key>
			<string>{0,234}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{946,588},{156,160}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Mouth-Tilted.png</key>
		<dict>
			<key>frame</key>
			<string>{{1057,1932},{109,137}}</string>
			<key>offset</key>
			<string>{0,249}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{969,585},{109,137}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RighElbow.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,1722},{225,324}}</string>
			<key>offset</key>
			<string>{379,-114}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1291,855},{225,324}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1618,502},{349,440}}</string>
			<key>offset</key>
			<string>{260,-56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1110,739},{349,440}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1099,966},{479,478}}</string>
			<key>offset</key>
			<string>{353,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1138,701},{479,478}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1110,484},{504,478}}</string>
			<key>offset</key>
			<string>{366,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1138,701},{504,478}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,545},{510,478}}</string>
			<key>offset</key>
			<string>{369,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1138,701},{510,478}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1110,2},{510,478}}</string>
			<key>offset</key>
			<string>{369,-37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1138,701},{510,478}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-Fist-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,1085},{633,458}}</string>
			<key>offset</key>
			<string>{430,-48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1138,722},{633,458}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-Fist-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1582,966},{479,457}}</string>
			<key>offset</key>
			<string>{353,-48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1138,722},{479,457}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-Thumb.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,1449},{479,469}}</string>
			<key>offset</key>
			<string>{353,-42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1138,710},{479,469}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightArm-Waist.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1085},{353,644}}</string>
			<key>offset</key>
			<string>{291,-160}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1139,741},{353,644}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightWrist-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1722},{186,219}}</string>
			<key>offset</key>
			<string>{500,92}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1431,701},{186,219}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightWrist-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,1059},{211,219}}</string>
			<key>offset</key>
			<string>{512,92}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1431,701},{211,219}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightWrist-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1733},{219,219}}</string>
			<key>offset</key>
			<string>{514,92}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1429,701},{219,219}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Trunk.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{611,1079}}</string>
			<key>offset</key>
			<string>{2,-351}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{721,714},{611,1079}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>prof_jb_0.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>prof_jb_0.png</string>
	</dict>
</dict>
</plist>
