<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ProfJB_Mouth-Frown.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,220},{140,154}}</string>
			<key>offset</key>
			<string>{1,237}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{955,588},{140,154}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_Mouth-Shut.png</key>
		<dict>
			<key>frame</key>
			<string>{{-1,220},{156,150}}</string>
			<key>offset</key>
			<string>{0,239}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{946,588},{156,150}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightWrist-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,-1},{187,217}}</string>
			<key>offset</key>
			<string>{499,93}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1430,701},{187,217}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
		<key>ProfJB_RightWrist-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,-1},{217,219}}</string>
			<key>offset</key>
			<string>{515,92}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1431,701},{217,219}}</string>
			<key>sourceSize</key>
			<string>{2048,1805}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>prof_jb_1.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>prof_jb_1.png</string>
	</dict>
</dict>
</plist>
